* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  height: auto;
  min-height: 100vh;
  padding-bottom: 40px;
}

.nav > * {
  gap: 5px;
  padding: 10px 0px;
}
.nav {
  padding: 20px;
  height: 12vh;
  justify-content: space-between;
}
.nav .menu {
  margin-top: 5px;
  height: 19px;
  width: 20px;
  align-self: center;
}
.menu {
  display: none;
}
.nav img:hover {
  cursor: pointer;
}
.nav .logo {
  font-size: 38px;
  padding-left: 10px;
  margin-top: 5px;
}
.cart {
  height: 20px;
  width: 20px;
  color: #69707d;
  z-index: 1;
}

.number {
  height: 15px;
  background-color: hsl(26, 100%, 55%);
  width: 21px;
  border-radius: 45%;
  position: absolute;
  top: -8px;
  right: -10px;
  color: white;
  text-align: center;
  font-size: small;
  z-index: 2;
}
.cartWrapper {
  position: relative;
  width: fit-content;
}
.basket {
  position: fixed;
  justify-self: center;
  top: 15%;
  /* for horizontal cenetring */
  transform: translateX(-50%);
  left: 50%;
  height: 40vh;
  width: 92vw;
  background-color: white;
  border: none;
  border-radius: 15px;
  z-index: 30;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket h2 {
  padding: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(0, 0%, 88%);
  font-size: 19px;
}
.basketContent {
  padding: 20px;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.basket p {
  color: hsl(219, 9%, 45%);
  font-weight: 600;
}

.avatar {
  border: 2px solid transparent;
  object-fit: contain;
  height: 40px;
  width: 40px;
}
.cart-image {
  gap: 20px;
}
.hide {
  position: absolute;
  left: -200%;
}
.show {
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 233px;
  background-color: white;
}
.close {
  display: none;
}

.hamburger a {
  margin: 30px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 26px;
  height: auto;
  display: block;
  text-decoration: none;
  color: black;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5); /* dim black */
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  transition: opacity 0.3 ease;
}
.overlayShow {
  display: block;
}
.overlayHide {
  display: none;
}

/* Image Container Styles */
.imageContainer {
  position: relative;
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
}

.imageSlider {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-height: 50vh;
}

.productImages {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.productImages img {
  width: 100%;
  height: auto;

  flex-shrink: 0;
}
.imageContainer button {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.previous-arrow {
  left: 15px;
}
.next-arrow {
  right: 15px;
}
.afterImage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
h3 {
  color: hsl(219, 9%, 45%);
  text-transform: uppercase;
  font-size: 15px;
}
h1 {
  color: hsl(220, 13%, 13%);
}
.afterImage .details {
  color: hsl(219, 9%, 45%);
  line-height: 30px;
}
.price {
  display: flex;
  justify-content: space-between;
}
.newPrice {
  font-size: 30px;
  font-weight: bolder;
  gap: 30px;
  align-items: baseline;
}
.sale {
  background-color: hsl(0, 0%, 0%);
  color: hsl(223, 64%, 98%);
  font-size: 20px;
  height: 30px;
  width: 60px;
  align-content: end;
  text-align: center;
  border-radius: 5px;
}
.oldPrice {
  display: flex;
  align-items: end;
  text-decoration: line-through;
  color: hsl(219, 9%, 45%);
  font-size: 18px;
  font-weight: 700;
}
.quantity {
  justify-content: space-between;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: hsl(223, 64%, 98%);
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}
.quantity button:hover {
  cursor: pointer;
  color: hsl(25, 86%, 66%);
}
.minus {
  width: fit-content;
  background: none;
  border: none;
  outline: none;
  color: #ff7e1b;
  height: 16px;
  width: 12px;
  align-self: center;
}
.plus {
  color: #ff7e1b;
  width: fit-content;
  background: none;
  border: none;
  outline: none;
  height: 12px;
  width: 12px;
}
.addToCart {
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  gap: 20px;
  background-color: hsl(26, 100%, 55%);
  margin-top: 20px;
  width: 100%;
}

.addToCart p {
  color: hsl(0, 0%, 0%);
}
.addToCart:hover {
  cursor: pointer;
  background-color: hsl(25, 86%, 66%);
}
.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  height: 60%;
}
.desc-cost {
  color: hsl(219, 9%, 45%);
  align-self: center;
  font-size: 14.5px;
  font-weight: 500;
  gap: 0px;
}
.desc {
  padding-bottom: 8px;
}
.cost {
  margin-bottom: 7px;
}
.desc-cost strong {
  color: black;
  font-weight: 700;
}
.checkout {
  justify-self: center;
  align-self: start;
  height: 8vh;
  width: 80vw;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s ease;
}
.checkout:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.thumbnailImages {
  display: none;
}
/*  Desktop override */
@media (min-width: 600px) {
  .hamburger {
    position: static;
    display: flex !important;
    left: 0 !important;
    width: auto;
    background: none;
    transition: none;
    z-index: auto;
    height: auto;
    top: 0;
  }
  .hamburger a {
    margin: 5px;
    font-size: 14px;
    color: hsl(219, 9%, 45%);
    padding-bottom: 17px;
    padding-top: 20px;

    font-weight: 300;
  }
  .hamburger a:hover {
    border-bottom: 3px solid #ff7e1b;
    color: black;
  }
  .nav {
    border-bottom: 0.2px solid rgb(245 231 201);
  }
  .show,
  .hide {
    left: 0 !important;
    top: 0;
  }
  .avatar:hover {
    width: 40px;
    border-radius: 80%;
    outline: none;
    border: 2px solid hsl(26, 100%, 55%);
  }

  .container {
    width: 90vw;
    margin: auto;
  }

  .wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10%;
    align-items: center;
    align-items: flex-start;
    padding-top: 10vh;
    height: 80vh;
    justify-content: center;
  }
  .thumbnailImages {
    display: flex;
    gap: 10%;
    margin-top: 30px;
  }

  .imageWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 20%;
  }

  .thumb-container {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease;
  }

  .thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 197, 162, 0.7); /* Semi-transparent white */
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
  }

  /* Show overlay on hover/active */
  .thumb-container:hover .thumb-overlay,
  .thumb-container:focus .thumb-overlay {
    opacity: 1;
  }

  /*  Highlight active thumbnail */
  .thumb-container.active .thumb-overlay {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid hsl(26, 100%, 55%);
  }

  .imageContainer {
    width: 100%;
    border-radius: 10px;
    height: fit-content;
  }
  .descWrapper {
    width: 45%;
  }
  .afterImage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 15px;
    padding: 10px;
  }
  .afterImage h3 {
    text-align: left;
  }
  .afterImage h1 {
    font-size: 20px;
  }
  .afterImage .details {
    line-height: 18px;
    font-size: 16px;
  }
  .buttonWrapper {
    display: flex;
    gap: 6%;
  }
  .addToCart {
    height: 40px;
    width: 100px;
    font-size: 9px;
    padding: 7px;
    margin-top: 0px;
  }
  .addToCart svg {
    width: 50%;
  }
  .addToCart:disabled {
    cursor: not-allowed;
    background-color: hsl(26, 100%, 55%, 0.5); /* Semi-transparent orange */
    opacity: 0.7;
  }
  .quantity {
    width: 120px;
  }
  .amount {
    margin: 18px;
  }

  .newPrice {
    font-size: 20px;
    font-weight: bolder;
    gap: 30px;
    align-items: baseline;
  }
  .basket {
    height: 40vh;
    width: 30vw;
    top: 10%;
    right: -40%;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.3);
  }
  .basketContent {
    margin: auto;
  }
  .info {
    margin-bottom: 5px;
  }
  .checkout {
    height: 7vh;
    width: 90%;
    align-self: flex-end;
    justify-self: anchor-center;
    position: absolute;
    bottom: 23px;
  }
  .oldPrice {
    padding-left: 15px;
  }
  .thumbnail {
    width: 35px;
    height: 35px;
  }

  .info {
    height: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .desc-cost {
    font-size: 12px;
  }
  .desc {
    margin-top: 20px;
    padding-bottom: 0;
  }
  .cost {
    margin-bottom: 0;
  }

  .leftNav {
    display: flex;
    align-items: center;
    gap: 3vw;
  }
}
@media (min-width: 1000px) {
  body {
    padding-bottom: 100px;
  }
  .hamburger a {
    font-size: 17px;
  }
  .hamburger {
    gap: 19px;
  }
  .cart:hover {
    color: black;
    cursor: pointer;
  }
  .afterImage {
    padding-top: 2vh;
    gap: 24px;
  }
  .afterImage h1 {
    font-size: 35px;
  }
  .afterImage h3 {
    font-size: 20px;
  }
  .afterImage .details {
    line-height: 25px;
  }
  .productImages img {
    height: 350px;
  }
  .imageContainer {
    height: 350px;
  }
  .price {
    display: block;
  }
  .oldPrice {
    margin-top: 10px;
    padding-left: 0px;
  }
  .basket {
    height: 42vh;
    width: 25vw;
  }
  .addToCart {
    width: 200px;
    justify-content: space-around;
    font-size: 15px;
  }
  .addToCart svg {
    width: fit-content;
  }
  .addToCart p {
    width: fit-content;
  }
  .quantity {
    width: 200px;
  }
  .info {
    gap: 15px;
    margin-bottom: 20px;
  }

  .thumbnail {
    width: 50px;
    height: 50px;
  }

  .basketContent {
    padding-top: 20px;
    font-size: 22px;
  }
  .desc-cost {
    font-size: 18px;
    margin-bottom: 9px;
  }
}
@media (min-width: 1300px) {
  .desc-cost {
    font-size: 20px;
  }
  .productImages img {
    height: 450px;
  }
  .afterImage {
    padding-top: 5vh;
  }
  .imageContainer {
    height: 450px;
  }
  .afterImage .details {
    font-size: 21px;
  }
  .addToCart {
    height: 50px;
  }
  .quantity {
    height: 50px;
  }
  .checkout {
    height: 9vh;
  }
}
@media (min-width: 2000px) {
  .productImages img {
    height: 700px;
  }
  .imageContainer {
    height: 700px;
  }
  .logo {
    width: 250px;
  }
  .hamburger a {
    font-size: 35px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .cart-image {
    gap: 50px;
  }
  .cart {
    width: 50px;
    height: 50px;
  }
  .afterImage {
    padding-top: 5vh;
  }
  .afterImage h3 {
    font-size: 42px;
  }
  .afterImage h1 {
    font-size: 75px;
  }
  .afterImage .details {
    font-size: 40px;
    line-height: 60px;
  }
  .newPrice {
    font-size: 40px;
  }
  .oldPrice {
    font-size: 40px;
  }
  .quantity {
    height: 100px;
    width: 300px;
    font-size: 36px;
  }
  .plus {
    width: 25px;
  }
  .minus {
    width: 25px;
  }
  .addToCart {
    height: 100px;
    font-size: 36px;
    width: 300px;
  }
  .info {
    gap: 20px;
  }
  .desc-cost {
    font-size: 20px;
  }
  .basketContent {
    font-size: 40px;
  }
  .basket h2 {
    font-size: 30px;
  }
  .thumbnail {
    width: 150px;
    height: 150px;
  }
  .desc-cost {
    font-size: 30px;
  }
  .info {
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .checkout {
    font-size: 30px;
    bottom: 40px;
  }
  .basket {
    height: 35vh;
  }
  .number {
    height: 35px;
    width: 31px;
    top: -18px;
    font-size: 28px;
  }
}
